*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


h1{
   font-size: 36px;
   font-weight: bold;
   text-align: center;
   margin: 40px 0px 60px 0px;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

input{
    width: 30%;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.2);
    margin-left: 10px;

}

#searchimg{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0px auto;
}

.separate-img{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.2);
    overflow: hidden;
    border: 2px solid violet;
}

.separate-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.separate-img :hover{
    opacity: 0.8;
}